NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE=

# Danal rebill credentials
DANAL_REBILL_CPID=
DANAL_REBILL_CPPWD=
DANAL_REBILL_CRYPTO_KEY=
DANAL_REBILL_CRYPTO_IV=
DANAL_REBILL_RETURN_URL=
DANAL_REBILL_CANCEL_URL=
DANAL_REBILL_SUBCPID=
DANAL_REBILL_READY_ENDPOINT=
